[bitwarden]
enabled = true
port = 80,443,8081
filter = bitwarden
action = iptables-allports[name=bitwarden, chain=FORWARD]
logpath = {{fail2ban_vaultwarden_log_path}}
maxretry = 3
bantime = 14400
findtime = 14400

