[Unit]
Description=IBM Exporter
After=network.target
[Service]
User=nodeusr
Group=nodeusr
Type=simple
ExecStart={{ ibm_exporter_executable_path }}/ibm-spectrum-exporter
[Install]
WantedBy=multi-user.target
