[Unit]
Description=Prometheus Slurm Exporter
After=network.target
[Service]
{% if slurm_conf_loc %}
Environment="SLURM_CONF={{ slurm_conf_loc  }}"
{% endif %}
Environment="PATH=$PATH:{{ slurm_bin_loc  }}"
User=nodeusr
Group=nodeusr
Type=simple
ExecStart=/var/lib/node_exporter/prometheus-slurm-exporter --listen-address=127.0.0.1:{{slurm_exporter_port}}
[Install]
WantedBy=multi-user.target
