sysMgmtdHost                  = {{beegfs_management_host}}
connAuthFile                  =
connClientPortUDP             = 8004
connHelperdPortTCP            = 8006
connMgmtdPortTCP              = 8008
connMgmtdPortUDP              = 8008
connPortShift                 = 0
connCommRetrySecs             = 600
connFallbackExpirationSecs    = 900
connInterfacesFile            =
connMaxInternodeNum           = 12
connMaxConcurrentAttempts     = 0
connNetFilterFile             =
connUseRDMA                   = true
connRDMABufNum                = 70
connRDMABufSize               = 8192
connRDMATypeOfService         = 0
connTcpOnlyFilterFile         =
logClientID                   = false
logHelperdIP                  =
logLevel                      = 3
logType                       = helperd
quotaEnabled                  = false
sysCreateHardlinksAsSymlinks  = false
sysMountSanityCheckMS         = 11000
sysSessionCheckOnClose        = false
sysSyncOnClose                = false
sysTargetOfflineTimeoutSecs   = 900
sysUpdateTargetStatesSecs     = 30
sysXAttrsEnabled              = false
tuneFileCacheType             = buffered
tunePreferredMetaFile         =
tunePreferredStorageFile      =
tuneRemoteFSync               = true
tuneUseGlobalAppendLocks      = false
tuneUseGlobalFileLocks        = false
sysACLsEnabled                = false

