[Unit]
Description=GPFS Exporter
After=network.target
[Service]
User=nodeusr
Group=nodeusr
Type=simple
ExecStart={{ executable_path }}/gpfs_exporter-{{ gpfs_exporter_version }}.linux-amd64/gpfs_exporter
[Install]
WantedBy=multi-user.target
