auth_enabled: {{ loki_auth_enabled }}
server:
  http_listen_port: {{ loki_http_listen_port }}
  grpc_listen_port: {{ loki_grpc_listen_port }}
storage_config:
  boltdb_shipper:
    active_index_directory: {{ loki_active_index_dir }}
    cache_location: {{ loki_cache_location }}
    cache_ttl: {{ loki_cache_ttl }}
    shared_store: {{ loki_shared_store }}
  filesystem:
    directory: {{ loki_data_dir }}
