server:
  http_listen_port: {{ promtail_http_listen_port }}
  grpc_listen_port: {{ promtail_grpc_listen_port }}
positions:
  filename: {{ promtail_positions_file }}
clients:
  - url: {{ loki_base_url }}:{{ loki_http_listen_port }}/loki/api/v1/push
    labels:
      job: "{{ promtail_job_name }}"
      __path__: "{{ promtail_log_path }}"
scrape_configs:
  - job_name: "{{ promtail_job_name }}"
    static_configs:
      - targets:
          - "{{ promtail_target }}"
        labels:
          job: "{{ promtail_job_name }}"
          __path__: "{{ promtail_log_path }}"
