[Unit]
Description=Cgroup Exporter
After=network.target
[Service]
User=nodeusr
Group=nodeusr
Type=simple
ExecStart={{ cgroup_exporter_executable_path }}/cgroup_exporter-{{ cgroup_exporter_version }}.linux-amd64/cgroup_exporter
[Install]
WantedBy=multi-user.target
