SlurmctldHost={{slurm_controller_hostname}}({{slurm_controller_ip}})
AuthType=auth/munge
CryptoType=crypto/munge
#MpiDefault=pmix
ProctrackType=proctrack/{{slurm_proctrack_type}}
ReturnToService=1
SlurmctldPidFile=/var/run/slurm/slurmctld.pid
SlurmctldPort={{slurm_controller_port}}
SlurmdPidFile=/var/run/slurm/slurmd.pid
SlurmdPort={{slurm_daemon_port}}
SlurmdSpoolDir=/var/spool/slurm/d
SlurmUser={{slurm_user}}
StateSaveLocation=/var/spool/slurm/ctld
SwitchType=switch/none
TaskPlugin=task/none
InactiveLimit=0
KillWait=30
MinJobAge=300
SlurmctldTimeout=120
SlurmdTimeout=300
Waittime=0
SchedulerType=sched/backfill
SelectType=select/linear
SlurmctldParameters=enable_configless
SlurmctldLogFile=/var/log/slurm/slurmctld.log # Need to configure

AccountingStorageType=accounting_storage/slurmdbd

ClusterName={{slurm_cluster_name}} # add as variable
JobCompType=jobcomp/none
JobAcctGatherFrequency=30
JobAcctGatherType=jobacct_gather/none
SlurmctldDebug={{slurm_controller_debug}} # Add as variable
SlurmdDebug={{slurm_daemon_debug}} # Add as variable
#NodeName=localhost CPUs=1 State=UNKNOWN
{% for node in slurm_nodes %}
{{node}}
{%endfor%}
{% for partition in slurm_partitions %}
{{partition}}
{%endfor%}
#NodeName=slurm-compute-[01-02]  CPUs=1
#NodeName=slurm-login-01
#PartitionName=debug Nodes=slurm-compute-[01-02] Default=YES MaxTime=INFINITE State=UP

