setenv PATH {{slurm_install_directory}}/bin:${PATH}
setenv LD_LIBRARY_PATH {{slurm_install_directory}}/lib64:${LD_LIBRARY_PATH}
setenv MANPATH ${MANPATH}:{{slurm_install_directory}}/share/man
{{slurm_profile_csh_append}}
