# See the slurmdbd.conf man page for more information.
#
# Archive info
#ArchiveJobs=yes
#ArchiveDir="/tmp"
#ArchiveSteps=yes
#ArchiveScript=
#JobPurge=12
#StepPurge=1
#
# Authentication info
AuthType=auth/munge
#AuthInfo=/var/run/munge/munge.socket.2

{% if slurm_enable_restd %}
AuthAltTypes=auth/jwt
AuthAltParameters="jwt_key={{slurm_state_save_location}}/jwt_hs256.key"
{% endif %}
#
# slurmDBD info
DbdAddr={{slurm_dbd_address}}
DbdHost={{slurm_dbd_host}}
#DbdPort=7031
SlurmUser=slurm
#MessageTimeout=300
DebugLevel={{slurm_dbd_log_level}}
#DefaultQOS=normal,standby
LogFile=/var/log/slurm/slurmdbd.log
PidFile=/var/run/slurmdbd.pid
#PluginDir=/usr/lib/slurm
#PrivateData=accounts,users,usage,jobs
#TrackWCKey=yes
#
# Database info
StorageType=accounting_storage/mysql
#StorageHost=localhost
#StoragePort=1234
{%if slurm_dbd_password -%}
StoragePass={{slurm_dbd_password}}
{% endif -%}
StorageUser={{slurm_dbd_storage_user}}
#StorageLoc=slurm_acct_db
