SlurmctldHost={{slurm_controller_hostname}}({{slurm_controller_ip}})
AuthType=auth/munge
{% if slurm_enable_restd %}
AuthAltTypes=auth/jwt
{% endif %}
CryptoType=crypto/munge
#MpiDefault=pmix
ProctrackType=proctrack/{{slurm_proctrack_type}}
ReturnToService={{slurm_conf_return_to_service}}
SlurmctldPidFile=/var/run/slurm/slurmctld.pid
SlurmctldPort={{slurm_controller_port}}
SlurmdPidFile=/var/run/slurm/slurmd.pid
SlurmdPort={{slurm_daemon_port}}
SlurmdSpoolDir={{slurm_daemon_spool_dir}}
SlurmUser={{slurm_user}}
StateSaveLocation={{slurm_state_save_location}}
SwitchType=switch/none
TaskPlugin={{','.join(slurm_conf_task_plugin)}}
MPIDefault=none
InactiveLimit=0
KillWait=30
MinJobAge=300
MaxArraySize={{slurm_conf_max_array_size}}
SlurmctldTimeout=120
SlurmdTimeout=300
Waittime=0
SchedulerType=sched/{{slurm_scheduler_type}}
SelectType="{{slurm_select_type}}"
SelectTypeParameters="{{slurm_select_type_parameters}}"
SlurmctldParameters=enable_configless
SlurmctldLogFile=/var/log/slurm/slurmctld.log # Need to configure
SlurmdLogFile=/var/log/slurm/slurmd.log # Need to configure
PropagateResourceLimits={{slurm_propagate_resource_limits}}
{% if slurm_accounting_storage_enforce %}
AccountingStorageEnforce={{slurm_accounting_storage_enforce}}
{% endif %}
{% if slurm_conf_prolog_flags %}
PrologFlags={{','.join(slurm_conf_prolog_flags)}}
{% endif %}

AccountingStorageType=accounting_storage/slurmdbd
AccountingStorageHost={{slurm_controller_hostname}}
{% if slurm_conf_accounting_storage_tres %}
AccountingStorageTRES={{','.join(slurm_conf_accounting_storage_tres)}}
{% endif %}

{% if slurm_priority_type != 'basic' %}
PriorityType=priority/{{slurm_priority_type}}

PriorityWeightAge={{slurm_priority_weight_age}}
PriorityWeightAssoc={{slurm_priority_weight_assoc}}
PriorityWeightFairShare={{slurm_priority_weight_fair_share}}
PriorityWeightJobSize={{slurm_priority_weight_job_size}}
PriorityWeightPartition={{slurm_priority_weight_partition}}
PriorityWeightQOS={{slurm_priority_weight_qos}}
PriorityWeightTRES={{slurm_priority_weight_tres}}
PriorityDecayHalfLife={{slurm_priority_decay_half_life}}
{% endif %}


ClusterName={{slurm_cluster_name}} # add as variable
JobAcctGatherFrequency=30
JobAcctGatherType={{slurm_conf_job_acct_gather_type}}
{% if slurm_conf_job_submit_plugins %}
JobSubmitPlugins={{slurm_conf_job_submit_plugins}}
{% endif %}
SlurmctldDebug={{slurm_controller_debug}} # Add as variable
SlurmdDebug={{slurm_daemon_debug}} # Add as variable

{% if slurm_conf_gres_types %}
GresTypes={{','.join(slurm_conf_gres_types)}}
{% endif %}
#NodeName=localhost CPUs=1 State=UNKNOWN
{% for node in slurm_nodes %}
{{node}}
{%endfor%}
{% for partition in slurm_partitions %}
{{partition}}
{%endfor%}
#NodeName=slurm-compute-[01-02]  CPUs=1
#NodeName=slurm-login-01
#PartitionName=debug Nodes=slurm-compute-[01-02] Default=YES MaxTime=INFINITE State=UP

