export PATH={{slurm_install_symlink}}/bin:{{slurm_install_symlink}}/sbin:$PATH
export LD_LIBRARY_PATH={{slurm_install_symlink}}/lib:$LD_LIBRARY_PATH
export MANPATH=$MANPATH:{{slurm_install_directory}}/share/man
{{slurm_profile_bash_append}}

# Helper Functions
sreasons() {
  #Prints out the full reason and status of a node, sorted by nodename
  sinfo -o "%60E %19H %6t %N" -t DOWN,DRAIN,FAIL,NO_RESPOND,UNK -S "N"
}
