export PATH={{slurm_install_symlink}}/bin:{{slurm_install_symlink}}/sbin:$PATH
export LD_LIBRARY_PATH={{slurm_install_symlink}}/lib64:$LD_LIBRARY_PATH
export MANPATH=$MANPATH:{{slurm_install_directory}}/share/man
