[Unit]
Description=Lustre Exporter
After=network.target
[Service]
User=root
Group=root
Type=simple
ExecStart={{ lustre_exporter_executable_path }}/lustre_exporter
[Install]
WantedBy=multi-user.target
