[Unit]
Description=Blackbox Exporter
After=network.target
[Service]
User=nodeusr
Group=nodeusr
Type=simple
ExecStart=/var/lib/node_exporter/blackbox_exporter-{{blackbox_exporter_version}}.linux-amd64/blackbox_exporter --config.file=/etc/blackbox_exporter.yml
[Install]
WantedBy=multi-user.target
