[Unit]
Description=Blackbox Exporter
After=network.target
[Service]
User=nodeusr
Group=nodeusr
Type=simple
ExecStart=/var/lib/node_exporter/blackbox_exporter-{{exporter_version}}.linux-amd64/blackbox_exporter
[Install]
WantedBy=multi-user.target
